<%- include('include/head', {title: 'Things to do!'}); %>
<body>
    <%- include('include/header'); %>

    <h1 style="text-align: center;">Things to do!</h1>

    <!-- <div>
        <% for (let i=0; i < tasks.length; i++) { %>
            <div>
                <% let task=tasks[i]; %>
                <div>
                    id: <%= task.id %>
                </div>
                <div>
                    title: <%= task.title %>
                </div>
                <a href="/task-detail/<%= task.id %>">Read More</a>
            </div>
        <% } %>
    </div> -->

<!-- Table format -->

    <%- include('include/post-list', {tasks: tasks}); %>

</body>
</html>