<%- include('include/head', {title: 'Node Blog'}); %>
<body style="background-color: #bfeef1;"> 
    <%- include('include/header'); %>

<% if (user) { %>
    <h1 style="text-align: center;">Welcome! <%- user.name %>.</h1>
<% } else { %> 
    <a href="/login">Login</a>
<% }%>

<br>

<table style="width:70%; margin-left: auto; margin-right: auto;">
    <tr>
        <th style="height:30px; text-align:left; width:35%">Task id</th>
        <th style="height:30px; text-align:left; width:50%">Titles</th>
        <th style="height:30px; text-align:left; width:50%">Task By</th>
        <th style="height:30px; text-align:left; width:50%">Visibility</th>
        <th style="height:30px; text-align:left; width:15%">Details</th>
        <th style="height:30px; text-align:left; width:15%">Action</th>
    </tr>
    <% for (let i=0; i < tasks.length; i++) { %>
        
        <% let task=tasks[i]; %>
        <tr>
            <td>
                <%= task.id %>
            </td>
            <td>
                <%= task.title %>
            </td>
            <td>
                <%= task.taskBy.name %>
            </td>
            <td>
                <%= task.visibility %>
            </td>
            <td>
                <a href="/task-detail/<%= task.id %>">Read More</a>
            </td>
            <td>
                <a href="/task-delete/<%= task.id %>">Delete</a>
            </td>
        </tr>
    <% } %>
    </table>

</body>
</html>