<table style="width:70%; margin-left: auto; margin-right: auto;">
    <tr>
        <th style="height:30px; text-align:left; width:5%">S.No.</th>
        <th style="height:30px; text-align:left; width:50%">Titles</th>
        <th style="height:30px; text-align:left; width:20%">Task By</th>
        <th style="height:30px; text-align:left; width:10%">Visibility</th>
        <th style="height:30px; text-align:left; width:10%">Details</th>
        <th style="height:30px; text-align:left; width:5%">Action</th>
    </tr>

    <% for (let i=0; i < tasks.length; i++) { %>
        
        <% let task=tasks[i]; %>
        <tr>
            <td>
                <%= i + 1 %>
            </td>
            <td>
                <%= task.title %>
            </td>
            <td>
                <a href="/profile/<%= task.taskBy._id %>"><%= task.taskBy.name %></a>
            </td>
            <td>
                <%= task.visibility %>
            </td>
            <td>
                <a href="/task-detail/<%= task.id %>">Read More</a>
            </td>
            <td>
                <a href="/task-delete/<%= task.id %>">Delete</a>
            </td>
        </tr>
    <% } %>
    </table>
